[page=mykinky] {
  .buy-credits {
    margin: 10px 0 20px 0;
    .creditbundle {
      width: 160px;
      height: 170px;
      display: block;
      float: left;
      cursor: pointer;
      margin: 0 20px 0 0;
      &:last-child {
        margin: 0 0 0 0;
      }
      .bundle-title {
        font-size: 0.75rem;
        line-height: 15px;
        padding: 0 0 10px 0;
      }
      .bundle-bottom {
        width: 140px;
      }
      .credit-amount {
        font-size: 1rem;
        .credit-number {
          margin: 5px 0 0 0;
          display: block;
          font-size: 3.5rem;
          line-height: 54px;
        }
      }
      &:hover {
        .bundle-title {
          border-bottom: 1px solid #2e6d0c;
          box-shadow: 0 1px 0 #83db35;
        }
        .bundle-bottom {
          border-top: 1px solid #579520;
          box-shadow: 0 -1px 0 #1f5b07;
          color: #fff;
        }
      }
    }
  }
}

/**************
 Credit-cards
 **************/

.card-container {
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  &:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 5;
    -webkit-box-shadow: 0px 2px 15px 1px $kinky-gray;
    -moz-box-shadow: 0px 2px 15px 1px $kinky-gray;
    box-shadow: 0px 2px 15px 1px $kinky-gray;
  }
}
.credit-card {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  position: relative;
  height: 240px;
  width: 160px;
  border: solid $kinky-gray 1px;
  background-color: white;
  .credit-amount {
    text-align: center;
    font-family: Raleway, sans-serif;
    display: inline-block;
    width: 100%;
    font-size: 4rem;
    line-height: 29px;
    margin-top: 24px;
    padding: 0 12px;
    font-weight: 700;
    &::after {
      content: ' \A credits';
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
  .discount-label {
    position: absolute;
    top: 12px;
    right: -24px;
    background-color: $kinky-yellow ;
    color: $kinky-red;
    width: 94px;
    padding: 3px 0;
    text-align: center;
    display: inline-block;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  .price-label {
    text-align: center;
    display: inline-block;
    height: 21.66%;
    width: 100%;
    font-size: 1rem;
    background-color: $kinky-gray-light;
    padding-top: 7px;
    margin: 5px 0;
    .price-per-credit{
      font-size: 0.825rem;
    }
  }
  .button-flat {
    width: 86.25%;
    margin: 10px auto;
  }
  &:hover {
    z-index: 2;
    border-color: $kinky-green-light;
    color: $kinky-green-light;
    .price-label {
      background-color: #dcf8e4;
      color: $kinky-green;
    }
  }
  .highlight-label {
    visibility: hidden;
    font-size: 0.75rem;
    color: $kinky-green-light;
    font-weight: 600;
    margin-left: 10px;
    &.show {
      visibility: visible;
    }
  }
}

